.header-Dashboard {
    height: 140px;
}

.toolbar-dashboard {
    --background: transparent;
    border-radius: 0px 0px 0px 0px;
}

.Fondo-dashboard {
    --background: url('../../assets/images/BACKGROUND3.png') 0 0/100% no-repeat !important;
}

.imagen-header {
    width: 100px;
    height: 100px;
}

.icono-Menu {
    color: #4F47BF;
    font-size: 30px;
}

.nombre-usuarios {
    font-size: 12px;
    color: #4F47BF;
    text-decoration: underline;
}

.bodi-fondo {
    --background: url('../../assets/images/BACKGROUND3.png') 0 0/100% no-repeat !important;
}

.card-dashboard {
    // box-shadow: -7px 5px 1px #FF457A;
    border-radius: 26px;
    margin: 17px;
    border: solid 0.5px silver;
    --background: #828CBF;
}

.imagen-dashboard {
    width: 120px;
    height: 87px;
}

.toolbar-footer {
    --background: rgb(243, 242, 242);
}

.fondo-marca {
    --background: url('../../assets/images/marcaagua.png') 0 0/100% 100% no-repeat !important;
}

.item-fondo {
    --background: #4F47BF;
    border-radius: 16px 16px 0px 0px;
}

.item-fondo-centro {
    --background: #4F47BF;
    border-radius: 0px;
}

.item-fondo-fin {
    --background: #4F47BF;
    border-radius: 0px 0px 16px 16px;
}

.color {
    color: white;
}

.input-form {
    border-bottom: solid 0.5px white;
    color: white;
    font-size: 13px;
}

.icono-form-primero {
    color: white;
    margin-top: 35px;
}

.icono-form {
    color: white;
    margin-top: 17px;
}

.text-alinena {
    text-align: left;
}

.text-alinena-rigth {
    text-align: right;
}

.boton-Actualizar {
    --background: #EC4692 !important;
    --border-radius: 16px;
    height: 50px;
    width: 60%;
}

.boton-Volver {
    --background: #4F47BF !important;
    --border-radius: 16px;
    height: 50px;
    width: 60%;
}

.logout {
    font-size: 15px;
    color: #4F47BF;
}

.salir {
    font-size: 15px;
}

.boton-password {
    --background: #EC4692 !important;
    --border-radius: 16px;
    height: 30px;
    width: 80%;
}