<ion-header class="header-Dashboard" lines="none">
    <ion-toolbar class="toolbar-dashboard" lines="none">
        <ion-grid>
            <ion-row>
                <ion-col size="4" class="ion-text-right">
                    <ion-icon name="list-circle-outline" class="icono-Menu" (click)="Historial()"></ion-icon>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                    <img src="../../assets/images/IMAGEN PERFIL CABECERA 2.png" alt="" class="imagen-header">
                    <span class="nombre-usuarios" (click)="editar()">{{Nombre}}</span>
                </ion-col>
                <ion-col size="4" class="ion-text-left">
                    <ion-icon name="notifications-outline" class="icono-Menu" (click)="Notificacion()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding class="bodi-fondo">
    <ion-list>
        <ion-card>
            <ion-card-content class="ion-text-center">
                <p>Nos pondremos en contacto con tigo para informate el resultado de tu solicitud. <br>Posterior a ello veras en esta aplicación en la seccion de Consulta creditos</p>
            </ion-card-content>
        </ion-card>
        <br>
        <br>
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-center">
                    <h3 class="titulo">Estamos procesado su solicitud...</h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <br>
                    <br>
                    <ion-icon name="timer-outline" class="reloj"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <p>Por favor consulte más tarde.</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col class="text-alinena">
                    <p class="logout" (click)="Dashboard()">Volver</p>
                </ion-col>
                <ion-col class="text-alinena-rigth">
                    <!-- <ion-icon name="log-out-outline" class="salir"></ion-icon> -->
                    <p class="logout" (click)="Salir()"> Salir</p>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>