.header-Dashboard {
    height: 160px;
}

.toolbar-dashboard {
    // --background: transparent;
    border-radius: 0px 0px 0px 0px;
}

.Fondo-dashboard {
    --background: url('../../assets/images/BACKGROUND3.png') 0 0/100% no-repeat !important;
    --background-color: white;
}

.imagen-header {
    width: 100px;
    height: 100px;
}

.card-dashboard-credikemba {
    // box-shadow: -7px 5px 1px #FF457A;
    border-radius: 26px;
    margin: 17px;
    border: solid 0.5px silver;
    --background: #FF2193;
    height: 130px;
}

.card-dashboard-ecoahorro {
    // box-shadow: -7px 5px 1px #FF457A;
    border-radius: 26px;
    margin: 17px;
    border: solid 0.5px silver;
    --background: #4F47BF;
    height: 130px;
}

.card-dashboard-learning {
    // box-shadow: -7px 5px 1px #FF457A;
    border-radius: 26px;
    margin: 17px;
    border: solid 0.5px silver;
    --background: #FF2193;
    height: 130px;
}

.imagen-dashboard {
    width: 90px;
    height: 87px;
}

.imagen-dashboard-rigth {
    margin-top: 12px;
    width: 80px;
    height: 67px;
}

.imagen-dashboard-tamano {
    margin-top: 12px;
    width: 80px;
    height: 67px;
}

.toolbar-footer {
    --background: rgb(243, 242, 242);
}

.fondo-marca {
    --background: url('../../assets/images/marcaagua.png') 0 0/100% 100% no-repeat !important;
    background-color: white;
}

.menu-style {
    color: #4F47BF;
    font-size: 40px;
}

.texto-product {
    margin-top: 20px !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text-descipt-product {
    color: white;
    font-size: 12px;
}

.text-alinena {
    text-align: left;
}

.text-alinena-rigth {
    text-align: right;
}

.div-menu {
    background-color: white;
    width: 60%;
    height: 90%;
    position: absolute;
    float: left;
    z-index: 2000000;
    box-shadow: 7px 6px 18px -2px #242323;
    border-radius: 16px;
}

.lista-menu {
    margin: 12px;
}

.icono-Menu {
    color: #4F47BF;
    font-size: 30px;
}

.nombre-usuarios {
    font-size: 12px;
    color: #4F47BF;
    text-decoration: underline;
}

.logout {
    font-size: 15px;
    color: #4F47BF;
}

.salir {
    font-size: 15px;
}