<ion-content class="body-App">
    <div class="imagen-inicial">

    </div>

    <br>
    <br>
    <div class="form text-center">

        <ion-button class="Boton-Inicio-bajo" (click)="IniciarSession()">
            Entrar
        </ion-button>
        <br>
        <br>
        <ion-button class="Boton-Inicio" (click)="Registrar()">
            Registrarse
        </ion-button>

    </div>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col class="text-alinena">
                    <a>Ayuda</a>
                </ion-col>
                <ion-col class="text-alinena-rigth">
                    <a>Kemba</a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>